@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Ropa+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
}

.background {
    width: 100%;
    margin-top: 1.5rem;
}

.basic_information{
    font-family:'Average Sans', sans-serif;
    color: black;
    margin-left: 2rem;
}

h3 {
    font-size: 20px;
    text-align: center;
    margin-top: 1rem;
}
body {
    display: flex;
}

.boton__nuevopaciente {
    width: 10rem;
    height: 2.5rem;
    margin-right: 2.5rem;
    opacity: 1.2;
    background: #F72B50;
    border-radius: 14px;
    border: 0.15rem solid #F72B50;
    display: inline-flex;
    place-items:center ;
}

.cont_citaspendientes {
    height: 30rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    margin-left: 4rem;
    width: 19rem;
    padding: 1.5rem;
    background: #ffbec7;
    border: none;
    border-radius: 1.6875rem;
    color: black;
    font-family:'Average Sans', sans-serif;
}

.citas_pendientes{
    font-size: 1.5rem;
    font-family:'Ropa Sans', sans-serif;
    color: #F72B50;
}

.contenedor__paciente {
    width: 50rem;
    padding: 1rem;
    height: 35rem;
    margin-right: 2.5rem;
    background: #ffffff;
    opacity: 1;
    color:#F72B50;
    border-radius: 10px;
    border: 0.1rem solid #a301a8;
    justify-content: space-between;
    display: inline-flex;
}

.cuerpo {
    margin-top: 5.5rem;
}

.edicion_citas{
    margin-top: 1.5rem;
    margin-left: 5rem;
    margin-right: 3rem;
}

.flecha{
    width: 0.8rem;
    height: 0.8rem;
}
.history{
    margin-left: 5rem;
    font-size: 1.5rem;
    font-family:'Ropa Sans', sans-serif;
    color: #F72B50;
}

.icon{
    width: 30px;
    margin-right: 1.5rem;
}

.icon2{
    width: 25px;
    margin-right: 1.5rem;
}

.icon3{
    width: 75px;
    margin-right: 1.5rem;
}

.nombre_paciente{    
    font-size:1.5rem;
    font-family:'Ropa Sans', sans-serif;
    vertical-align: 0.7rem;
}

.nuevopaciente{
    background: #F72B50;
    height: 2.5rem;
    width: 15rem;
    opacity: .9;
    border:none;
    color:white;
    font-size:0.9rem;
    text-indent: -0.85rem;
    border-radius: 15px; 
}


.profile {
    height: 2.5rem;
    margin-left: 0.5rem;
}

.perfil {
    display: inline-flex;
    align-items: center;
    text-align: right;
    width: 10rem;
    justify-content: flex-end;
}

.search {
    height: 3rem;
    margin-right: 2rem;
    margin-left: 9rem;
    width: 17rem;
    padding: 1rem;
    background: #ffbec7;
    border: none;
    font-size: 0.8rem;
    color: black;
    border-radius: 1.6875rem;
    outline: none;
    justify-content: space-between;
}


.header {
    margin:0;
    display: inline-block;
    width: 18rem;
    height: 152vh;
    border-right: 0.1rem solid #F72B50;
    border-color: #F72B50;
    justify-content: center;
}

.logo{
    display: block;
    height: 4rem;
    margin: auto;
    padding: 1rem;
}

.main {
    width: calc(100% - 18rem);
    padding: 1.8rem 4rem;
}

.menu {
    font-family: 'Average Sans', sans-serif;
    list-style: none;
    color: black;
}

.menulink{
    display: inline-flex;
    font-size: 1.2rem;
    width: 14rem;
    height: 1.5rem;
    padding: 1.5rem 2rem;
    text-decoration: none;
    color: black;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.menulink:hover{
    background-color: #F72B50;
    color: white;
}

.nameuser{
    font-family: 'Ropa Sans', sans-serif;
    font-size: 1.2rem;
    color: #F72B50;
}

.roluser{
    font-family: 'Ropa Sans', sans-serif;
    font-size: 0.9rem;
}

p {
    font-size: 1.1rem;
    font-family: 'Average Sans', sans-serif;
    text-align: justify;
}



.searchuser {
    display: inline-flex;
    vertical-align:middle;
    float: left;
    justify-content: space-between;
}

.titulo {
    font-size: 2rem;
    font-family: 'Ropa Sans', sans-serif;
    margin-bottom: 1rem;
}

.triangulo {
    height: 0.7rem;
    margin-left: 0.33rem;
    transform: rotate(90deg);
}

.title_info{
    font-family: 'Ropa Sans', sans-serif;
    font-size: 1.2rem;
    color: #F72B50;
}


h1{
    width: 701px;
    height: 55px;
    left: 511px;
    top: 227px;
    
    font-family: Ropa Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    
    color: #F72B50;
    }
    .lista_container {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: 1px #ccc solid;
        padding: 10px;
        line-height: 35px;
        margin-top: 20px;
        margin-right: 10px;
    }
    
    .campos{
        width: 100%;
        height: 2.5rem;
        margin-top: 2px;
        background: #F72B50;
        opacity: .4;
        color:white;
        font-size:20px;
        text-align: center;
        border-radius: 20px;
        border: none;
    }

    .campo-med {
        width: 100%;
        height: 2.5rem;
        margin-top: 2px;
        background: #F72B50;
        opacity: .4;
        color:white;
        font-size:20px;
        text-align: center;
        border-radius: 20px;
        border: none;
    }
    #container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;  
      }
      #cont-rev {
        display: flex;
        flex-direction: row-reverse;
      }
     
      #container > ul {
        list-style-type: none;
    }
      #container > ul >li {
          text-decoration: none;
      }
      .box {
        display: flex;
    
      }

      .formulario__cita {
        margin: 0 30px;
        display:flex;
        flex-wrap: wrap;
    
    }

    .left { 
        width: 30%;
        margin-right: 10px;
    }

    .boton__registro{
        display:block;
        width: 70%;
        height: 3rem;
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        background: #F72B50;
        opacity: .7;
        color:white;
        font-size:20px;
        border-radius: 20px;
        border: none;
    }