@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Ropa+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
}

.btned {
    width: 2rem;
}

body {
    display: flex;
}

.boton__registro{
    display:block;
    width: 70%;
    height: 3rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    background: #F72B50;
    opacity: .7;
    color:white;
    font-size:20px;
    border-radius: 20px;
    border: none;
}

.calendarwatch {
    height: 2rem;
}

.campo-eps {
    width: 300px;
    height: 2.5rem;
    margin-top: 2px;
    background: #F72B50;
    opacity: .4;
    color:white;
    font-size:20px;
    text-align: center;
    border-radius: 20px;
    border: none;
}

.contenedortbtn {
    display: flex;
    justify-content: space-between;
    width: 8rem;
    padding-top: 0.5rem;
    margin: auto;
}

.campo_act_tit{
    font-family: 'Ropa Sans', sans-serif;
    color:#F72B50;
    width: 1rem;
    height: 2.5rem;
    margin-top: 2px;
    font-size:20px;
    text-align: center;
    border-radius: 20px;border: none;
    font-weight: 700;
}

.camposroles{
    font-family: 'Ropa Sans', sans-serif;
    width: 1rem;
    height: 2.5rem;
    margin-top: 2px;
    font-size:15px;
    text-align: center;
    /* border-radius: 20px; */
    border: none; 
    border-width: 0; 
    box-shadow: none;
}

.camposactividad{
    font-family: 'Ropa Sans', sans-serif;
    width: 1.5rem;
    height: 2.5rem;
    margin-top: 2px;
    font-size:19px;
    text-align: center;
    border-radius: 20px;
    border: none;
    font-weight: 700;
}

.cuerpo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3rem;
    justify-content:space-between;
}

.diahora {
    display: relative; /*flex; */
    /* padding-bottom: 0.1rem; */
    height: 5%;
    width: 100%;
    /* vertical-align:middle; */
}

.diahora span {
    margin-left: 0.5rem;
}

.flecha{
    width: 0.8rem;
    height: 0.8rem;
}

.header {
    margin:0;
    display: block;
    width: 18rem;
    height: 100vh;
    justify-content: center;
}

.inforol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 0.1rem solid #450B5A;
    border-radius: 1.6875rem;
    padding: 1.2rem;
    font-family: 'Average Sans', sans-serif;
    font-size: 1.1rem;
    /* width: 80%; */
    width: 40rem;
    height: 20rem;
    margin-bottom: 1rem;
}

.logo{
    display: block;
    height: 4rem;
    margin: auto;
    padding: 1rem;
}

.main {
    width: calc(100% - 18rem);
    padding: 1.8rem 4rem;
    border-left: 0.1rem solid #F72B50;
}

.menu {
    font-family: 'Average Sans', sans-serif;
    list-style: none;
    color: black;
}

.menulink{
    display: inline-flex;
    font-size: 1.2rem;
    width: 14rem;
    height: 1.5rem;
    padding: 1.5rem 2rem;
    text-decoration: none;
    color: black;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.menulink:hover{
    background-color: #F72B50;
    color: white;
}

.menuselect{
    display: inline-flex;
    font-size: 1.2rem;
    width: 14rem;
    height: 1.5rem;
    padding: 1.5rem 2rem;
    text-decoration: none;
    color: black;
    background-color: #F72B50;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.nameuser{
    font-family: 'Ropa Sans', sans-serif;
    font-size: 1.2rem;
    color: #F72B50;
}

.newuser {
    display: flex;
    width: 10rem;
    background: #F72B50;
    color: white;
    font-size: 1rem;
    font-family: 'Average Sans', sans-serif;
    border-radius: 1.6875rem;
    align-items: center;
    text-decoration: none;
}

.profile {
    height: 2.5rem;
    margin-left: 0.5rem;
}

.roluser{
    font-family: 'Ropa Sans', sans-serif;
    font-size: 0.9rem;
}

.search {
    width: 16.75rem;
    padding: 1rem;
    background: #FEEAED;
    border: none;
    font-size: 0.8rem;
    color: black;
    border-radius: 1.6875rem;
    outline: none;
}

.searchuser {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.triangulo {
    height: 0.7rem;
    margin-left: 0.33rem;
    transform: rotate(90deg);
}

.titulo {
    font-size: 2rem;
    width: 100%;
    font-family: 'Ropa Sans', sans-serif;
    margin-bottom: 1rem;
}

.titulo2 {
    font-size: 1.3rem;
    padding: 1rem;
    width: 100%; 
    font-family: 'Ropa Sans', sans-serif;
    /* margin-bottom: 0.2rem; */
}

.title-tabla {
    font-family: 'Average Sans', sans-serif;
    font-size: 1.3rem;
    background-color:#F72B50;
    opacity: 0.8;
    color:white; 
}