@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Ropa+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
}

.background {
    width: 100%;
    margin-top: 1.5rem;
}

.btned {
    width: 2rem;
}

.btncalificacion {
    border: 0.1rem solid #450B5A;
    border-radius: 1.6875rem;
    padding: 0.3rem;
}

.btncalificacion:hover {
    border: 0.1rem solid #F72B50;
    border-radius: 1.6875rem;
    padding: 0.3rem;
}

.btncalificacion img{
    margin: auto;
}

.btnsearch {
    height: 1rem;
    background: #FEEAED;
    border: none;
    outline: none;
}

.btnsearch img{
    height: 2rem;
    margin-top: -0.5rem;
}

.buscador {
    display: flex;
    padding: 1rem;
    background-color: #FEEAED;
    justify-content: space-between;
    border-radius: 1.6875rem;
}

.btncalificacion a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 1.4rem;
    color: #F72B50;
}

body {
    display: flex;
}

.calendarwatch {
    height: 2rem;
}

.contenedor_user {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border: 0.1rem solid #450B5A;
    border-radius: 1.6875rem;
    align-items: center;
    margin-bottom: 1rem;
}

.contenedortbtn {
    display: flex;
    justify-content: space-between;
    width: 8rem;
    padding-top: 0.5rem;
    margin: auto;
}

.contenedorbotones {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-top: 0.5rem;
}

.contenedorbotones a{
    margin-left: 2rem;
}


.cuerpo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3rem;
    justify-content:space-between;
}

.detallehistoria {
    font-family: 'Average Sans', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    width: 100%;
    border-bottom: #F72B50 solid 0.1rem;
    padding-bottom: 1rem;
}

.diahora {
    display: flex;
    padding-bottom: 0.4rem;
    width: 100%;
    vertical-align:middle;
}

.diahora span {
    margin-left: 0.5rem;
}

.flecha{
    width: 0.8rem;
    height: 0.8rem;
}

.perfil {
    display: inline-flex;
    align-items: center;
    text-align: right;
    margin-left: 2rem;
    justify-content: flex-end;
}

.header {
    margin:0;
    display: inline-block;
    width: 18rem;
    height: 100vh;
    justify-content: center;
}

.imgp {
    width: 3.5rem;
}

.infocita {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 0.1rem solid #450B5A;
    border-radius: 1.6875rem;
    padding: 1.2rem;
    font-family: 'Average Sans', sans-serif;
    font-size: 1.1rem;
    width: 45%;
    margin-bottom: 1rem;
    align-items: center;
}

.infocita2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 0.1rem solid #450B5A;
    border-radius: 1.6875rem;
    padding: 1.2rem;
    font-family: 'Average Sans', sans-serif;
    font-size: 1.1rem;
    width: 45%;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
}

.infocita3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 0.1rem solid #450B5A;
    border-radius: 1.6875rem;
    padding: 1.2rem;
    font-family: 'Average Sans', sans-serif;
    font-size: 1.1rem;
    width: 65%;
    margin-bottom: 1rem;
    align-items: center;
}

.imgcita {
    display: flex;
    border-radius: 1.6875rem;
    width: 27%;
}

.logo{
    display: block;
    height: 4rem;
    margin: auto;
    padding: 1rem;
}

.main {
    width: calc(100% - 18rem);
    padding: 1.8rem 4rem;
    border-left: 0.1rem solid #F72B50;
}

.menu {
    font-family: 'Average Sans', sans-serif;
    list-style: none;
    color: black;
}

.menulink{
    display: inline-flex;
    font-size: 1.2rem;
    width: 14rem;
    height: 1.5rem;
    padding: 1.5rem 2rem;
    text-decoration: none;
    color: black;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.menulink:hover{
    background-color: #F72B50;
    color: white;
}

.menuselect{
    display: inline-flex;
    font-size: 1.2rem;
    width: 14rem;
    height: 1.5rem;
    padding: 1.5rem 2rem;
    text-decoration: none;
    color: black;
    background-color: #F72B50;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
/* .menulink img:hover {
    filter:hue-rotate(20deg) saturate(0) brightness(100)
} */
.nameuser{
    font-family: 'Ropa Sans', sans-serif;
    font-size: 1.2rem;
    color: #F72B50;
}

.newuser {
    display: flex;
    width: 10rem;
    background: #F72B50;
    color: white;
    font-size: 1rem;
    font-family: 'Average Sans', sans-serif;
    border-radius: 1.6875rem;
    align-items: center;
    text-decoration: none;
}

.nom_img {
    display: flex;
    align-items: center;
}

.nombre_user {
    font-family: 'Average Sans', sans-serif;
    font-size: 1.2rem;
    color: #F72B50;
    margin-left: 1rem;
}

.roluser{
    font-family: 'Ropa Sans', sans-serif;
    font-size: 0.9rem;
}

p {
    font-size: 1.1rem;
    font-family: 'Average Sans', sans-serif;
    text-align: justify;
}

.profile {
    height: 2.5rem;
    margin-left: 0.5rem;
}
.logout {
    height: 2rem;
    margin-left: 2rem;
}

.search {
    width: 16.75rem;
    background: #FEEAED;
    border: none;
    font-size: 0.8rem;
    color: black;
    border-radius: 1.6875rem;
    outline: none;
}

.searchuser {
    width: 100%;
    display: flex;
    vertical-align: middle;
    justify-content: flex-end;
}

.searchuser2 {
    width: 100%;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
}

.titulo {
    font-size: 2rem;
    width: 100%;
    font-family: 'Ropa Sans', sans-serif;
    margin-bottom: 1rem;
}


.triangulo {
    height: 0.7rem;
    margin-left: 0.33rem;
    transform: rotate(90deg);
}