<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="shortcut icon" href="img/icono.png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css')}}">
</head>
<body> 
    <header >
        <div class="header">
            <img src="{{ url_for('static', filename='images/iconoclinica.png')}}" class="logo" alt="Clinica de la mujer">
            <nav>
                <ul class="menu">
                    <li class="menuitems"><a href="/" class="menulink"><span>Inicio</span></a></li>
                    <li class="menuitems"><a href="/nosotros" class="menulink"><span>Nosotros</span></a></li>
                    <li class="menuitems"><a href="/contacto" class="menulink"><span>Contacto</span></a></li>
                    <li class="menuitems2"><a href="/login" class="menulink"><span class="lrh">Iniciar sesion</span></a></li>
                    <li class="menuitems2"><a href="/registro" class="menulink"><span class="lrh">Registrarse</span></a></li>
                </ul>
            </nav>
        </div>
        <div class="background"><img src="{{ url_for('static', filename='images/medical.jpg')}}"  alt=""></div>
    </header>
    <main class="main">
        <h1 class="titulo">Bienvenido(a) a la Clinica de la Mujer</h1>
        <h3>Lorem ipsum dolor sit amet consectetur.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, impedit? Incidunt nobis praesentium cum odio? Fugit possimus, magnam aut facere tempore minima velit reprehenderit dignissimos fugiat quidem voluptas dolores! Quas porro voluptate eos esse.</p>
        <!-- <div class="contenedor_misvis">
            <div class="misvis">
                <h2>Mision</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, assumenda? Eligendi esse est nemo vero maxime voluptas. Doloribus illum vitae aspernatur accusamus mollitia natus, eveniet facere ab praesentium reprehenderit modi at molestiae neque, placeat quod iure iste porro quam ullam pariatur animi repudiandae. Tenetur perspiciatis amet praesentium suscipit laboriosam mollitia.</p>
            </div>
            <div class="misvis">
                <h2>Vision</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, assumenda? Eligendi esse est nemo vero maxime voluptas. Doloribus illum vitae aspernatur accusamus mollitia natus, eveniet facere ab praesentium reprehenderit modi at molestiae neque, placeat quod iure iste porro quam ullam pariatur animi repudiandae. Tenetur perspiciatis amet praesentium suscipit laboriosam mollitia.</p>
            </div>
        </div> -->
    </main>
    <footer>
        <span>&copy;Clinica de la Mujer</span><svg width="1rem" height="1rem" viewBox="0 0 120 120"><circle cx="60" cy="60" r="50" fill="#F72B50" /></svg>
        <span>2021</span><svg width="1rem" height="1rem" viewBox="0 0 120 120"><circle cx="60" cy="60" r="50" fill="#F72B50" /></svg>
        <span>Cali, Valle del Cauca</span>
    </footer>
</body>
</html>