<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de pacientes</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icono.png')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylelist.css')}}">
</head>

<body>
    <header class="header">
        <img src="{{ url_for('static', filename='images/iconoclinica.png')}}" class="logo" alt="Clinica de la mujer">
        <nav>
            <ul class="menu">
                <li class="menuitems"><a href="/medico" class="menulink"><span>Medicos</span><img src="{{ url_for('static', filename='images/triangulo.png')}}" class="flecha" alt=""></a></li>
                <li class="menuitems"><a href="/paciente" class="menuselect"><span>Pacientes</span><img src="{{ url_for('static', filename='images/triangulo.png')}}" class="flecha" alt=""></a></li>
                <li class="menuitems"><a href="/listado-citas" class="menulink"><span>Citas</span><img src="{{ url_for('static', filename='images/triangulo.png')}}" class="flecha" alt=""></a></li>
                <li class="menuitems"><a href="/roles" class="menulink"><span>Roles y permisos</span><img src="{{ url_for('static', filename='images/triangulo.png')}}" class="flecha" alt=""></a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <div class="searchuser2">
            <a href="/registro" class="newuser"><img src="{{ url_for('static', filename='images/plus_math_100px.png')}}"  class="profile" alt=""><span>Nuevo paciente</span></a>
            <div>
                <div class="perfil">
                    <div>
                        <span class="nameuser">{{row.nombre}} {{row.apellido}}</span><br>
                        <span class="roluser">Admin</span>
                    </div>
                    <img src="{{ url_for('static', filename='images/test_account_100px.png')}}"  class="profile" alt="">
                    <a href="/logout" type="button" class="btn"><img src="{{ url_for('static', filename='images/off.png')}}" class="logout" alt="Cerrar sesion"></a>
                </div> 
            </div>
        </div>
        <div class="cuerpo">
            <!--En este espacio va la informacion especifica de cada pagina -->
            <h1 class="titulo"><span style="color:#F72B50">Pacientes</span></h1>
            <div>
                <ul>
                    {% for data in listapacientes %}
                        {% if data.estado == 1 %}             
                        <div class="contenedor_user">
                            <div class="nom_img">
                                <img src="{{ url_for('static', filename='images/test_account_100px.png')}}" class="imgp" alt="">
                                <span class="nombre_user">{{data.nombre}} {{data.apellido}}</span>
                            </div>
                            <div class="contenedortbtn"> 
                                <a href="paciente/{{data.cedula}}" ><img src="{{ url_for('static', filename='images/eye_100px.png')}}" class="btned" alt=""></a>
                                <a href="paciente/{{data.cedula}}/editar"><img src="{{ url_for('static', filename='images/edit_100px.png')}}" class="btned" alt=""></a>
                                <a href="paciente/{{data.cedula}}/eliminar"><img src="{{ url_for('static', filename='images/delete_100px.png')}}" class="btned" alt=""></a>
                            </div>
                        </div>
                        {% endif %} 
                    {% endfor %}
                </ul>
            </div>
    </main>
</body>

</html>