<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del paciente</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icono.png')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/users.css')}}">
</head>
<body>
    <header class="header">
        <a href="/dashboard" type="button" class="btn"><img src="{{ url_for('static', filename='images/iconoclinica.png')}}" class="logo" alt="Clinica de la mujer"></a>
        <nav>
            <ul class="menu">
                <li class="menuitems"><a href="/medico" class="menulink"><span>Medicos</span><img src="{{ url_for('static', filename='images/triangulo.png')}}"  class="flecha" alt=""></a></li>
                <li class="menuitems"><a href="/paciente" class="menuselect"><span>Pacientes</span><img src="{{ url_for('static', filename='images/triangulo.png')}}"  class="flecha" alt=""></a></li>
                <li class="menuitems"><a href="/listado-citas" class="menulink"><span>Citas</span><img src="{{ url_for('static', filename='images/triangulo.png')}}"  class="flecha" alt=""></a></li>
                <li class="menuitems"><a href="/roles" class="menulink"><span>Roles y permisos</span><img src="{{ url_for('static', filename='images/triangulo.png')}}"  class="flecha" alt=""></a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <div class="searchuser">
            <a href="/registro" class="newuser"><img src="{{ url_for('static', filename='images/plus_math_100px.png')}}" class="profile" alt="+"><span>Nuevo paciente</span></a>
            <div>
                <div class="perfil">
                    <div>
                        <span class="nameuser">{{ row ['nombre'] }} {{ row ['apellido'] }}</span><br>
                        <span class="roluser">Admin</span>
                    </div>
                    <img src="{{ url_for('static', filename='images/test_account_100px.png')}}" class="profile" alt="">
                    <a href="/logout" type="button" class="btn"><img src="{{ url_for('static', filename='images/off.png')}}" class="logout" alt="Cerrar sesion"></a>
                </div> 
            </div>
        </div>
        <div class="cuerpo"> <!--En este espacio va la informacion especifica de cada pagina -->
            <div class="pacienteperfil">
                <div class="perfilcitas">
                    <div class="contenedorperfil">
                        <div class="userperf">
                            <img src="{{ url_for('static', filename='images/test_account_100px.png')}}" class="userper" alt="">
                            <h1 class="username">{{data.nombre}} {{data.apellido}}</h1>
                        </div>
                        <div class="userinfo">
                            <h2 class="infotitle">Informacion basica</h2><br>
                            <span style="color:#450B5A">Fecha de Nacimiento </span><span style="color:#000000">{{data.nacimiento}}</span> <br><br>
                            <span style="color:#450B5A">EPS </span><span style="color:#000000">{{data.eps}}</span> <br><br>
                            <span style="color:#450B5A">Email </span><span style="color:#000000">{{data.email}}</span><br><br>
                            <span style="color:#450B5A">Telefono </span><span style="color:#000000">{{data.telefono}}</span> <br><br>
                            <span style="color:#450B5A">Direcccion </span><span style="color:#000000">{{data.dir}}</span> <br><br>
                            <span style="color:#450B5A">Ciudad de residencia </span><span style="color:#000000">{{data.ciudad}}</span> <br><br>
                            <div class="contenedordbtn">
                                <a href="/paciente/{{data.cedula}}/editar"><img src="{{ url_for('static', filename='images/edit_100px.png')}}" class="btned" alt=""></a>
                                <a href="/paciente/{{data.cedula}}/editar"><img src="{{ url_for('static', filename='images/delete_100px.png')}}" class="btned" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="contenedorcitas">
                        <h2 class="infotitle">Citas pendientes</h1>
                            {% for c in cita %}
                            <div class="infocita">
                                <div class="diahora">
                                    <img src="{{ url_for('static', filename='images/calendar_100px.png')}}" class="calendarwatch" alt=""><span>{{ c.fecha }}</span>
                                </div>
                                <div class="diahora">
                                    <img src="{{ url_for('static', filename='images/username_100px.png')}}" class="calendarwatch" alt="">
                                    {% for l in listamedicos %}
                                        {% if c.medico_id == l.cedula %}
                                            <span>{{l.nombre}} {{l.apellido}}</span>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="contenedortbtn">
                                    <a href="/listado-citas/{{ c.cita_id }}"><img src="{{ url_for('static', filename='images/eye_100px.png')}}" class="btned" alt=""></a>
                                    <a href="/listado-citas/{{ c.cita_id }}/editar"><img src="{{ url_for('static', filename='images/edit_100px.png')}}" class="btned" alt=""></a>
                                    <a href="/listado-citas/{{ c.cita_id }}/eliminar"><img src="{{ url_for('static', filename='images/delete_100px.png')}}" class="btned" alt=""></a> 
                                </div>
                            </div>
                            {% endfor %}
                        <hr color="#F72B50" size="0.5rem">
                    </div>
                </div>
                <div class="userhistoria">
                    <h2 class="infotitle">Historia clinica</h2><br>
                    {% for c in cita %}
                    {% if c.estado == 1%}
                    <div class="detallehistoria">
                        <span style="color:#450B5A">Fecha </span><span>{{c.fecha}}</span> <br>
                        <span style="color:#450B5A">Hora de atencion </span><span>{{c.hora_atencion}}</span> <br>
                        <span style="color:#450B5A">Medico </span>
                        <span>
                            {% for l in listamedicos %}
                            {% if c.medico_id == l.cedula %}
                                <span>{{l.nombre}} {{l.apellido}}</span>
                            {% endif %}
                            {% endfor %}
                        </span> <br>
                        <span style="color:#450B5A">Motivo </span><span>{{c.motivo}}</span> <br>
                        <span style="color:#450B5A">Sintomas </span><span>{{c.sintomas}}</span> <br>
                        <span style="color:#450B5A">Diagnostico </span><span>{{c.diagnostico}}</span> <br>
                        <span style="color:#450B5A">Anotaciones </span><span>{{c.anotaciones}}</span>
                        <div class="contenedordbtn">
                            <a href="/historia-clinica/{{ c.cita_id }}/editar"><img src="{{ url_for('static', filename='images/edit_100px.png')}}" class="btned" alt=""></a>
                            <a href="/historia-clinica/{{ c.cita_id }}/eliminar"><img src="{{ url_for('static', filename='images/delete_100px.png')}}" class="btned" alt=""></a>
                        </div> 
                    </div> <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
    </main> 
</body>
</html>